@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

@font-face {
    font-family: 'HussarBold';
    src: url(./HussarBold.otf);
}

body {
    background-image: linear-gradient(135deg, #004aad 0%, #5e17eb 46%, #d4c5c5 100%);
    background-attachment: fixed;
    background-size: cover;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding-top: 60px;
    font-size: 3.5rem;
    color: white;
    font-family: 'HussarBold';
    font-weight: bold;
    text-align: center;
}

span {
    font-size: 1rem;
    font-family: 'Montserrat';
}

.container-header {
    padding: 4px;
    border-radius: 20px;
    display: inline-block;
    background-color: #004aad;
    background-image: linear-gradient(90deg, #004aad, #cb6ce6 100%);
    color: white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.container-header-img img {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

.accordion {
    padding-top: 30px;
}

.accordion-body{
    font-size: 1rem;
    margin-top: 5px;
    text-align: center;
}

.accordion-body h3 {
    font-size: 1.2rem; 
    color: #5e17eb; 
    margin-top: 10px; 
    text-align: center;
    position: relative;
}

.accordion-body h3::before  {
    content: ""; 
    position: absolute; 
    top: 50%; 
    left: 0;
    width: 25px; 
    height: 2px; 
    background-color: #5e17eb; 
    transform: translateY(-50%); 
}

.accordion-body h3::after {
    content: "";
    position: absolute;
    top: 50%; 
    right: 0;
    width: 25px;
    height: 2px;
    background-color: #5e17eb;
    transform: translateY(-50%);
}